@charset "utf-8";
/*---------------------------------------------->
  ROOTS
<----------------------------------------------*/

:root {
  --clr-darkest: #001;
  --clr-dark: #2c050b;
  --clr-medium: #722a0d;
  --clr-light: #b97d44;
  --clr-lightest: #fbcc8d;
  --clr-yellow: #ffcf35;
  --clr-orange: #fb8443;

  --app-spacing: 25px;
  --app-border-rad: 8px;
}

/*---------------------------------------------->
  UTILITY FUNCTIONS
<----------------------------------------------*/

.wobble {
  animation: wobble 2s infinite ease-in-out;
}

.correct {
  color: var(--clr-medium);
  animation: dustEffect 0.5s ease-out forwards 0.1s;
}

.hidden {
  display: none;
  opacity: 0;
  z-index: -100;
}

.visible {
  display: block;
  opacity: 1;
  z-index: 5000;
}

.flex {
  display: flex;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.r-margin {
  margin-right: 15px;
}

.li-animation {
  opacity: 0;
  transform: translateY(-20px);
  animation: liFadeIn 0.5s ease-out forwards;
}

.zoom {
  animation: zoomInOut 0.5s infinite;
}

.zoomier {
  animation: zoomInOut 0.2s infinite;
}

.correct { 
  color: var(--clr-medium);
}
